:root {
  --scale: 1.02;
  --darkGray: #393939;
  --paleWhite: #f5f5f5;
  --softGray: #e4e0db;
  --darkAlabaster: #a29c94;
}

* {
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cormorant Garamond", serif;
  margin: 0;
  padding: 0;
  background: var(--paleWhite);
  color: var(--darkGray);
  letter-spacing: 0.3px;
}
p {
  line-height: 1.5;
  font-size: 18px;
  font-weight: 500;
}
header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 160px 60px;
}

.logo {
  font-size: 24px;
  font-weight: 600px;
}
.logo a {
  text-decoration: none;
  color: var(--darkGray);
}
nav {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style: none;
  display: flex;
}

ul {
  margin: 0;
}

.nav-links li {
  font-size: 20px;
  margin-left: 20px;
  padding: 10px;
}
.nav-links a {
  color: var(--darkGray);
  text-decoration: none;
  transition: 0.3s ease;
}
.nav-links a:hover {
  color: var(--darkAlabaster);
  text-decoration: underline;
  text-decoration: none;
}
span {
  color: var(--darkAlabaster);
  font-weight: 1000;
}

#hero,
#steps,
#responsive,
.steps-footer {
  padding: 60px 160px;
}
.container {
  width: 100%;
  display: flex;
  row-gap: 40px;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}

.img-container {
  display: flex;
}

img {
  width: 100%;
  height: auto;
}

.heading {
  letter-spacing: 1px;
  font-size: 18px;
}
.project-name {
  text-transform: uppercase;
  font-size: 48px;
  font-weight: 600;
  margin: 0;
}
.hero-line {
  width: 50px;
  height: 2px;
  background-color: var(--softGray);
  margin-bottom: 50px;
}
.overview {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.5;
  max-width: 600px;
}
.overview a {
  text-decoration: underline;
}
.section-title {
  display: inline-block;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
.text {
  flex: 1;
  align-self: flex-start;
  text-align: left;
}
.text-icon {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
}
.text-icon div {
  border: 1px solid var(--darkAlabaster);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.text-icon button {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.text-icon > * {
  flex-grow: 1;
  flex-shrink: 1;
}

.steps-container {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  align-items: stretch;
}
.steps-container > * {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 400px;
}
.steps-container.footer {
  margin: 0;
}
.project-steps {
  padding: 30px;
  border: 1px solid var(--darkAlabaster);
  border-top: 1px solid var(--darkAlabaster);
  width: 100%;
  background-color: var(--softGray);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.project-steps i {
  font-size: 40px;
  color: var(--darkAlabaster);
}

h3 {
  text-decoration: none;
  color: var(--darkGray);
  transition: 0.3s ease;
  font-size: 28px;
}

.container1 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  align-items: center;
  justify-content: center;
}
.container1 > * {
  flex-grow: 1;
  flex-shrink: 1;
}

.img-tablet {
  max-width: 400px;
  align-items: start;
}

h2 {
  font-size: 32px;
}
.project-steps a {
  color: var(--darkGray);
  text-decoration: underline;
  padding: 5px 5px;
  transition: 0.3s ease;
}
.project-steps a:hover {
  color: var(--darkAlabaster);
}
button {
  width: 100%;
  display: inline-block;
  font-size: 18px;
  background-color: var(--softGray);
  border: none;
  padding: 10px 20px;
  border-top-left-radius: 3px;
  border-top-left-radius: 3px;
  color: var(--darkGray);
}
button i {
  padding-right: 5px;
  color: var(--darkAlabaster);
}

footer {
  color: var(--darkGray);
  text-align: center;
  padding: 20px 0;
}
.social-media {
  margin-top: 5px;
  display: flex;
  gap: 10px;
}
.social-media img {
  width: 24px;
  height: auto;
}
footer .social-media {
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
}
a {
  text-decoration: none;
}
footer .footer-text {
  display: inline-block;
}

@media (min-width: 481px) and (max-width: 768px) {
  header {
    padding: 30px 80px;
    width: 100%;
  }
  #hero,
  #steps,
  .steps-footer {
    padding: 40px 80px;
  }

  #responsive {
    padding: 20px 80px 40px;
  }
  button {
    font-size: 16px;
  }
  .section-title {
    margin: 0;
  }
  .overview {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  .text {
    padding: 0;
  }
  .container1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  header {
    padding: 30px 20px;
    width: 100%;
  }
  #hero,
  #steps,
  .steps-footer {
    padding: 40px 20px;
  }
  #responsive {
    padding: 0px 20px 40px;
  }
  .logo {
    font-size: 20px;
  }
  p {
    font-size: 16px;
  }
  .project-name {
    font-size: 42px;
  }
  h2.project-name {
    font-size: 32px;
    line-height: 1.2;
  }
  .section-title {
    margin: 0;
  }
  p.overview {
    font-size: 16px;
    margin: 20px 0;
  }
  .container1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
  }
  .text {
    padding: 0;
  }
  button {
    font-size: 16px;
  }
}
